*{
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
}

.main-container{
    margin-left: auto;
    margin-right: auto;

    margin-top: 15vh;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#todolist{
    border: 2px solid black;
    text-align: center;
    width: 400px;
    height: auto;
}

.todolist_header{
    font-size: 25px;
    background-color: aquamarine;
}

#todolist_container{
    overflow-y: auto;
    height: 200px;
}

#todolist_container p{
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-areas: "checkbox input";
    column-gap: 50px;
    /* flex-direction: row-reverse; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

#todolist_container p:first-child{
    /* grid-area: checkbox;
    column-gap: 20px;
    background-color: red; */
}

#submit{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    /* border:; */
    margin: 30px;
    padding: 5px;
}

#submit_button{
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}

#submit_button:active{
    background-color: rgb(27, 202, 144);
}

#delete_button{
    margin: 10px;
    padding: 10px;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
    color: whitesmoke;
}

#delete_button:active{
    background-color: rgb(239, 102, 102);
}

.show-deleted-item{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: antiquewhite;
}

.show-del-item{
    margin-bottom: 20px;
}

.show-deleted-item p{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}